

.leftField {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.avaDiv {
    text-align: center;
}

.ava {
    border-radius: 10px;
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.leftFieldBtn {
    text-align: center;
}

.userDiv {
    display: flex;
    flex-direction: row;
}

.userInfo {
    width: 60%;
}

.userInfoName {
    display: flex;
    justify-content: space-between;
}

.status {
    text-overflow: ellipsis;
}
