.header {
	grid-area: h;
	background-color: #1e82f3;
	color: white;
	display: flex;
}

.logo {
	width: 300px;
	display: flex;
}

.logo img {
	padding: 5px;
	margin-left: 10px;
	width: 50px;
	height: 50px;
}

.logo p {
	padding-top: 10px;
	color: white;
	font-size: 20px;
}

.authBlock {
	margin-left: auto;
	padding-top: 13px;
	padding-right: 25px;
}

.authBlock a {
	color: white;
	text-decoration: none;
}

.authItem:hover {
	color: lime;
	cursor: pointer;
}