.avatar {
    display: grid;
    grid-template-areas:
		"l r";
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.leftField {
    grid-area: l;
    flex-direction: column;
}

.leftField img {
    width: 100%;
    min-width: 150px;
    border-radius: 5px;
}

.rightField {
    grid-area: r;
}

.statusSpan {
    cursor: pointer;
}

.statusSpan:hover {
    background: #bcd7ff;
}

.photoUpdateButtonField {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}