.logFormInput,
.logForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.logForm > div {
    margin-top: 20px;
}

.logInput {
    border: none;
    outline: none;
    padding: 5px;
}

.rememberMe {
    display: flex;
}

.rememberMe input {
    margin-right: 5px;
}

.submit {
    padding: 10px 40px;
}

.logOutBtn {
    padding: 16px 50px;
    font-size: large;
    font-weight: bold;
    color: #1e82f3;
    border-color: #1e82f3;
}

.logOutBtn:hover {
    color: #f63b3b;
    border-color: #f63b3b;
}

.errorEmptyString {
    height: 21px;
}

.captcha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.captcha input {
    padding: 5px;
}