.dialogs {
    display: grid;
    grid-template-columns: 4fr 8fr;
    max-height: 1180px;
}

.dialogsItems,
.messages {
    padding: 10px;
}

.dialogElement {
    display: flex;
    flex-direction: row;
}

.dialogElement img {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-right: 8px;
}

.dialogElement a {
    display: flex;
    color: black;
    text-decoration: none;
}

.dialogElement .text {
    padding-top: 4px;
    color: inherit;
}

.messages {
    display: flex;
    flex-direction: row;
}

.divider {
    height: 100%;
    width: 20px;
    margin: 0;
}

.scrollGrope {
    width: 100%;
}

.messagesScroll {
    position: relative;
    height: 75vh;
    overflow-y: scroll;
    padding-right: 10px;
}

.messagesScrollRef {
    height: 30px;
}

.error,
.error p {
    margin: 0;
    color: red;
    height: 20px;
}


